<%- include header %>
<table class="ui inverted yellow table">
    <thead>
    <tr><th colspan="5">
            个人
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="collapsing">
            <a class="header" href="https://github.com/"><h2 class="ui blue header">github</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.cnblogs.com/chen1234/"><h2 class="ui blue header">博客园</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://my.csdn.net/"><h2 class="ui blue header">CSDN</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.jianshu.com/u/e81bc9936b29"><h2 class="ui blue header">简书</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="https://juejin.im/user/5a31e41b6fb9a045204c3b2d"><h2 class="ui blue header">掘金</h2></a></br>
        </td>
    </tr>

    </tbody>
</table>
</br>
</br>

<table class="ui inverted yellow table">
    <thead>
    <tr><th colspan="5">
            前端
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="collapsing">
            <a class="header" href="https://semantic-ui.qyears.com/introduction/getting-started.php"><h2 class="ui blue header" >semantic ui</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.iconfont.cn/"><h2 class="ui blue header">阿里巴巴图标库</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.qdfuns.com/"><h2 class="ui blue header">前端网</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://demo.qunee.com/#Edge Demo"><h2 class="ui blue header">qunee for html5</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="https://codepen.io/"><h2 class="ui blue header">codepen</h2></a></br>
        </td>
    </tr>
    <tr>
        <td class="collapsing">
            <a class="header" href="http://www.html5tricks.com/"><h2 class="ui blue header">html5 tricks</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.daqianduan.com/"><h2 class="ui blue header">大前端</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.iwan0.com/"><h2 class="ui blue header">玩林</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.haorooms.com/nav"><h2 class="ui blue header">前端导航</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="https://www.qianduanmei.com/"><h2 class="ui blue header">前端美</h2></a></br>
        </td>
    </tr>
    <tr>
        <td class="collapsing">
            <a class="header" href="https://cloud.tencent.com/developer/labs/gallery?utm_source=sidebar&utm_medium=qclab"><h2 class="ui blue header">腾讯云实验室</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.css88.com/"><h2 class="ui blue header">web 前端开发</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="https://www.prepbootstrap.com/bootstrap-template"><h2 class="ui blue header">prep boostrap</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://semantic-ui-forest.com/"><h2 class="ui blue header">semantic ui temple</h2></a></br>
        </td>

    </tr>

    </tbody>
</table>
</br>
</br>
<table class="ui center aligned inverted yellow table">
    <thead>
    <tr><th colspan="5">
            GIS
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="collapsing">
            <a class="header" href="http://zhihu.esrichina.com.cn/"><h2 class="ui blue header">ArcGIS知乎</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://server.arcgis.com/zh-cn/server/"><h2 class="ui blue header">ArcGIS Server</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://openlayers.org/"><h2 class="ui blue header">Openlayers</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="http://www.openlayers.cn/forum.php"><h2 class="ui blue header">Openlayers中文论坛</h2></a></br>
        </td>
        <td class="collapsing">
            <a class="header" href="https://juejin.im/user/5a31e41b6fb9a045204c3b2d"><h2 class="ui blue header">掘金</h2></a></br>
        </td>
    </tr>

    </tbody>
</table>



<!--<div class="ui four column grid">-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/github.jpg">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header" href="https://github.com/">github</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/博客园.jpg">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header">博客园</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/csdn.jpg">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header">csdn</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/jianshu.jpg">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header">简书</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/qunee.png">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header">qunee</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<div class="ui fluid card">-->
            <!--<div class="image">-->
                <!--<img src="../images/shiyanlou.jpg">-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<a class="header">简书</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<%- include footer %>