<%- include header %>
<form method="post" class="ui form" enctype="multipart/form-data">
    <input class="ui button" type="file" name="files" multiple>
    <input class="ui button" type="submit">
</form>
<%- include footer %>